<!-- src: _includes/footer.html -->
<!-- FOOTER -->
<footer>

  <!-- SCROOL TO TOP -->
  <a href="#toTop" class="fa fa-arrow-up toTop"></a>

  <div class="container">

    <div class="row">

        <div class="col-md-6 copyright">
            {{ SITENAME|e }}
            <br />2014 &copy; All Rights Reserved.
        </div>

        <div class="col-md-6 text-right">
            {% for group_title, group_link in SOCIAL %}
              <a href="{{group_link}}" class="social fa fa-{{group_title|lower}}"></a>
            {% endfor %}
        </div>

    </div>

  </div>
</footer>
<!-- /FOOTER -->



<!-- end src: _includes/footer.html -->