<!-- src: _includes/nav.html -->
<!-- Main Nav -->
<header id="header" {% if not is_index %} class="fixed"{% endif %}>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button id="mobileMenu" class="fa fa-bars" type="button" data-toggle="collapse" data-target=".navbar-collapse"></button>

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand{% if is_index %} class="scrollTo"{% endif %}" href="{% if not is_index %}{{ SITEURL }}/index.html#home{% endif %}">
                    <img src="https://dl.dropboxusercontent.com/u/299446/logo-invert.png" alt="" width="50" height="50" />
                    <span class="hidden-xs">{{ SITENAME|e }}</span>
                </a>
            </div><!-- end div.navbar-header -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Fullscreen Button - Unavailable for IE -->
                <a href="#" class="btn-fullscreen"><i class="fa fa-external-link"></i></a>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% if not is_index %}{{ SITEURL }}/index.html{% endif %}#home"{% if is_index %} class="scrollTo"{% endif %}>Home</a></li>
                    {% if ABOUT_PERSONAL_INFO %}
                    <li><a href="{% if not is_index %}{{ SITEURL }}/index.html{% endif %}#about"{% if is_index %} class="scrollTo"{% endif %}>About</a></li>
                    {% endif %}
                    {% if WORK_DESCRIPTION or WORK_LIST %}
                    <li><a href="{% if not is_index %}{{ SITEURL }}/index.html{% endif %}#work"{% if is_index %} class="scrollTo"{% endif %}>Work</a></li>
                    {% endif %}
                    <li><a href="{% if not is_index %}{{ SITEURL }}/index.html{% endif %}#quick-blog"{% if is_index %} class="scrollTo"{% endif %}>Blog</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for category, articles in categories|sort %}
                                <li><a href="{{ SITEURL }}/category/{{ category|lower }}.html">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if LINKS %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            {% for site_title, site_link in LINKS %}
                                <li><a href="{{ site_link }}" target="_blank">{{ site_title }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- end div#bs-example-navbar-collapse-1 -->
            <!-- /.navbar-collapse -->

        </div><!-- end div.container -->
    </nav>
</header>
<!-- /Main Nav -->
<!-- end src: _includes/nav.html -->